:root {
  --red: #BB414D;
  --orange: #CA694A;
  --yellow: #DAAD54;
  --green: #9AC278;
  --purple: #BB7CAF;
  --nord-red: #bf616a;
  --nord-orange: #d08770;
  --nord-yellow: #ebcb8b;
  --nord-green: #a3be8c;
  --nord-purple: #b48ead;
  --frost1: #57A4A1;
  --frost2: #5DAAC0;
  --frost3: #5885B1;
  --frost4: #436FA4;
  --nord-frost1: #8fbcbb;
  --nord-frost2: #88c0d0;
  --nord-frost3: #81a1c1;
  --nord-frost4: #5e81ac;
  --dark-gray1: #2e3440;
  --dark-gray2: #3b4252;
  --dark-gray3: #434c5e;
  --dark-gray4: #4c566a;
  --light-gray3: #d8dee9;
  --light-gray2: #e5e9f0;
  --light-gray1: #eceff4;
 /* --sans-serif: 'Inter', 'Roboto', sans-serif;
  --serif: 'Playfair Display', 'Georgia', serif; */
}