article {
	h1, h2, h3 { font-weight: 200; line-height: 1em; margin-top: 1.5em; margin-bottom: 1em; }
	h1 { font-size: 4em; margin-top: .3em; }
	h4, h5, h6 { font-weight: 700; }
}

b, strong { font-weight: 600; }

.people-widget { 
	.people-person { 
		/*text-align: left;*/
		padding-top: 2em;
	}
	h2 { font-weight: 700; }
}

#stream .col-12 { text-align: center; }

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}

.docs-toc-link { 
	font-weight: normal;
	font-size: .8em;
	line-height: 1em;
	margin-left: 1em;
	text-indent: -1em;
	i { width: 1em; opacity: .8; }
}

.docs-sidenav li:first-child a { padding-left: 2.8em; }

.cta-group a.btn i { opacity: .8; padding-right: .6em; }
.cta-btns a.hero-cta-alt i { margin-left: .3em; }

.footnotes { font-size: .8em; opacity: .8; }
