### 2021/05/23 

- <i class="fas fa-microphone-alt"></i> Radio Vitoria, Gaur Magazine: [Con una mejor planificación se hubieran evitado muertes por coronavirus](https://www.eitb.eus/es/radio/radio-vitoria/programas/radio-vitoria-gaur-magazine/detalle/8044938/con-mejor-planificacion-se-hubieran-evitado-muertes-por-covid19-/"https://www.eitb.eus/es/radio/radio-vitoria/programas/radio-vitoria-gaur-magazine/detalle/8044938/con-mejor-planificacion-se-hubieran-evitado-muertes-por-covid19-/)
- <i class="fas fa-microphone-alt"></i> Radio Euskadi, Hágase la luz: [El libro blanco del Covid: una mirada al pasado y al futuro](https://www.eitb.eus/es/radio/radio-euskadi/programas/hagase-la-luz/detalle/8070839/el-libro-blanco-del-covid-mirada-al-pasado-y-al-futuro-------/) 
 
### 2021/05/21 

- <i class="fas fa-newspaper"></i> Busturialdeko Hitza: [Sindemiari erantzun bateratua ematearen garrantzia](https://busturialdea.hitza.eus/2021/05/21/sindemiari-erantzun-bateratua-ematearen-garrantzia/) 
 
### 2021/05/17 

- <i class="fas fa-microphone-alt"></i> Radio Euskadi, Boulevard: ["Este es un ejercicio de reflexión colectiva para mejorar"](https://www.eitb.eus/es/radio/radio-euskadi/programas/boulevard/detalle/8056506/libro-blanco-de-covid19-175-propuestas-para-futuro/) 

### 2021/05/10 

- <i class="fas fa-television"></i> Hamaika telebista: [COVID-19aren Liburu Zuria, iparrorratz izan eta urratsak emateko](https://hamaika.eus/euskal-herria-berriak/gizartea/covid-19aren-liburu-zuria-iparrorratz-izan-eta-urratsak-emateko.html) 
- <i class="fas fa-newspaper"></i> El Correo: ['COVID-19aren Liburu Zuria' kaleratu du euskal talde aditu batek](https://www.elcorreo.com/zurekin/covid19aren-liburu-zuria-20210511114623-nt.html) 
- <i class="fas fa-microphone-alt"></i> Euskadi Irratia, Faktoria: [Ugo Mayor: 'Aurrera egiteko, orain egindako bideari erreparatzea ezinbestekoa da'](https://www.eitb.eus/eu/irratia/euskadi-irratia/programak/faktoria/osoa/8039469/mayor-aurrera-egiteko-egindako-bideari-erreparatzea-ezinbestekoa-da/) 
 

### 2021/05/09 

- <i class="fas fa-newspaper"></i> Eldiario.es: [ Cuarenta expertos se unen en el 'Libro blanco' de la pandemia en Euskadi para demandar un refuerzo de la Sanidad pública y un mejor rastreo de los casos de COVID-19l](https://www.eldiario.es/euskadi/cuarenta-expertos-unen-libro-blanco-pandemia-euskadi-demandar-refuerzo-sanidad-publica-mejor-rastreo-casos-covid-19_1_7914876.html) 
 

### 2021/05/08 

- <i class="fas fa-newspaper"></i> Berria: [Azala/Portada](https://twitter.com/Ugo_Mayor/status/1390922212966866947/photo/1) 
- <i class="fas fa-newspaper"></i> Berria: [Aro beltzerako liburu zuria](https://www.berria.eus/paperekoa/1932/004/001/2021-05-08/aro-beltzerako-liburu-zuria.htm) 
- <i class="fas fa-newspaper"></i> Berria: [Bidea lautzeko hausnartuak ](https://www.berria.eus/paperekoa/2153/004/002/2021-05-08/bidea-lautzeko-hausnartuak.htm) 
- <i class="fas fa-newspaper"></i> El Correo: [Expertos advierten de que en Euskadi se desconoce el origen del 90% de los casos](https://www.elcorreo.com/sociedad/salud/expertos-advierten-euskadi-20210508212618-nt.html) 
- <i class="fas fa-newspaper"></i> Gara: [Una reflexión para aprender de los errores y encarar mejor el futuro ](https://www.naiz.eus/es/hemeroteca/gara/editions/2021-05-08/hemeroteca\_articles/una-reflexion-para-aprender-de-los-errores-y-encarar-mejor-el-futuro) [Twitter](https://twitter.com/Ugo_Mayor/status/1391070167396933636/photo/1) 
- <i class="fas fa-microphone-alt"></i> COPE: [Un grupo de investigadores vascos publica un libro con 175 propuestas para corregir los errores de la pandemia](https://www.cope.es/emisoras/pais-vasco/noticias/grupo-investigadores-vascos-publica-libro-con-175-propuestas-para-corregir-los-errores-pandemia-20210508_1278974) 

### 2021/05/07 

- <i class="fas fa-television"></i> ETB1, Egun on Euskadi: ["Bakoitzak bere arlotik hausnarketa egin eta proposamenak egin ditugu liburuan"](https://www.eitb.eus/eu/telebista/programak/egunon-euskadi/bideoak/osoa/8033133/bideoa-ugo-mayor-covid19aren-liburu-zuriari-buruz/)
- <i class="fas fa-television"></i> TVE, Telenorte: [50 investigadores y profesionales de la Sanidad, la Ciencia o la Educación, han presentado hoy el LibroBlancoCOVID19 ](https://twitter.com/RTVEPaisVasco/status/1390690047956029446) 
- <i class="fas fa-microphone-alt"></i> Cadena SER, Radio Bilbao: [Investigadores vascos critican la gestión de la pandemia en Euskadi y proponen 175 medidas contra la Covid](https://cadenaser.com/emisora/2021/05/07/radio_bilbao/1620403845_525522.html) 
- <i class="fas fa-television"></i> ETB2, En Jake: [Especialistas de diferentes campos presenta el libro blanco de la Covid](https://twitter.com/enjakeETB/status/1390601354322792451) 
- <i class="fas fa-newspaper"></i> EiTB: [44 profesionales rescatan "una mirada multidisciplinar" de la pandemia](https://www.eitb.eus/es/noticias/sociedad/detalle/8033604/libro-blanco-covid19-una-mirada-multidisciplinar-pandemia/) 
- <i class="fas fa-newspaper"></i> Elhuyar: [COVID-19ak sortutako egoeratik ateratzeko Liburu Zuria aurkeztu du aditu-talde zabal batek](https://zientzia.eus/artikuluak/covid-19ak-sortutako-egoeratik-ateratzeko-liburu-z/) 
- <i class="fas fa-newspaper"></i> Naiz: [Una reflexión colectiva propone reforzar lo público para afrontar las causas del covid-19](https://www.naiz.eus/es/info/noticia/20210507/una-reflexion-colectiva-propone-reforzar-lo-publico-para-afrontar-las-causas-del-covid-19)
- <i class="fas fa-newspaper"></i> Berria: [Pandemiari buruzko txosten bat aurkeztu dute zenbait adituk, eta 175 neurri proposatu](https://www.berria.eus/albisteak/197349/pandemiari-buruzko-txosten-bat-aurkeztu-dute-zenbait-adituk-eta-175-neurri-proposatu.htm) 
- <i class="fas fa-microphone-alt"></i> Euskadi Irratia, Norteko Ferrokarrila: Ferrokarrilla laboratoriumean [Ferrokarrilla laboratoriumean](https://www.eitb.eus/eu/irratia/euskadi-irratia/programak/norteko-ferrokarrila/audioak/osoa/8031683/ferrokarrilla-laboratoriumean-20210507/) 
 

### 2021/05/04 
- <i class="fas fa-microphone-alt"></i> Cadena SER, Radio Bilbao: [La reflexión que el Gobierno debería impulsar](https://cadenaser.com/emisora/2021/05/04/radio_bilbao/1620114737_958734.html)